alternative_spelling
-> field_alternative_spelling
    
section
-> field_section_name
    
conjugation
-> field_conjugation
    
conversation
-> title
    
conversation_turn
-> field_sentence
    
morpheme
-> field_morpheme
-> field_word
-> field_morpheme_desc_lang_studied
    
name
-> field_name
    
narrative
-> title
-> body
    
person
-> field_first_name
-> field_last_name
-> body

phrase
-> field_phrase

place
-> title

place_coordinates
-> title

sentence
-> field_sentence

textbook_actor
-> field_name

word
-> field_word

